<script>
import {
  GlButton,
  GlCard,
  GlForm,
  GlFormCheckbox,
  GlFormGroup,
  GlFormInput,
  GlLink,
  GlSprintf,
} from '@gitlab/ui';
import { subscriptionActivationForm, subscriptionQueries } from '../constants';

export const SUBSCRIPTION_ACTIVATION_EVENT = 'subscription-activation';

export default {
  i18n: {
    title: subscriptionActivationForm.title,
    howToActivateSubscription: subscriptionActivationForm.howToActivateSubscription,
    activationCode: subscriptionActivationForm.activationCode,
    pasteActivationCode: subscriptionActivationForm.pasteActivationCode,
    acceptTerms: subscriptionActivationForm.acceptTerms,
    activateLabel: subscriptionActivationForm.activateLabel,
  },
  name: 'CloudLicenseSubscriptionActivationForm',
  components: {
    GlButton,
    GlCard,
    GlForm,
    GlFormGroup,
    GlFormInput,
    GlFormCheckbox,
    GlSprintf,
    GlLink,
  },
  data() {
    return {
      activationCode: null,
      isLoading: false,
      termsAccepted: false,
    };
  },
  computed: {
    activateButtonDisabled() {
      return this.isLoading || !this.termsAccepted;
    },
  },
  methods: {
    submit() {
      this.isLoading = true;
      this.$apollo
        .mutate({
          mutation: subscriptionQueries.mutation,
          variables: {
            gitlabSubscriptionActivateInput: {
              activationCode: this.activationCode,
            },
          },
        })
        .then(
          ({
            data: {
              gitlabSubscriptionActivate: { errors },
            },
          }) => {
            if (errors.length) {
              throw new Error();
            }
            this.$emit(SUBSCRIPTION_ACTIVATION_EVENT, true);
          },
        )
        .catch(() => {
          this.$emit(SUBSCRIPTION_ACTIVATION_EVENT, null);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
  },
};
</script>
<template>
  <gl-card>
    <template #header>
      <h5 class="gl-my-0 gl-font-weight-bold">{{ $options.i18n.title }}</h5>
    </template>

    <p>
      <gl-sprintf :message="$options.i18n.howToActivateSubscription">
        <template #link="{ content }">
          <gl-link href="" target="_blank">{{ content }}</gl-link>
        </template>
      </gl-sprintf>
    </p>
    <gl-form @submit.stop.prevent="submit">
      <gl-form-group class="gl-mb-0">
        <div class="gl-display-flex gl-flex-wrap">
          <label class="gl-w-full" for="activation-code-group">
            {{ $options.i18n.activationCode }}
          </label>
          <gl-form-input
            id="activation-code-group"
            v-model="activationCode"
            :disabled="isLoading"
            :placeholder="$options.i18n.pasteActivationCode"
            class="gl-w-full gl-mb-4"
            required
          />

          <gl-form-checkbox v-model="termsAccepted">
            <gl-sprintf :message="$options.i18n.acceptTerms">
              <template #link="{ content }">
                <gl-link href="https://about.gitlab.com/terms/" target="_blank"
                  >{{ content }}
                </gl-link>
              </template>
            </gl-sprintf>
          </gl-form-checkbox>

          <gl-button
            :disabled="activateButtonDisabled"
            category="primary"
            class="gl-mt-6"
            data-testid="activate-button"
            type="submit"
            variant="confirm"
          >
            {{ $options.i18n.activateLabel }}
          </gl-button>
        </div>
      </gl-form-group>
    </gl-form>
  </gl-card>
</template>
